PORT=3333
NODE_ENV=development

# Configurações do PostgreSQL (Local)
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=sua_senha_aqui
DB_NAME=barberpro

# JWT
JWT_SECRET=seu_jwt_secret_aqui

# CORS
CORS_ORIGIN=http://localhost:5173